.eins {
    height: 500px;
    width: 500px;
    background-color: aqua;
}

.zwei {
    height: 300px;
    width: 300px;
    background-color: magenta;
}

.drei {
    height: 100px;
    width: 100px;
    background-color: green;
}